In [2]:
import os
os.environ["OPENAI_API_KEY"] = "sk-"

from langchain.llms import OpenAI
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

db = SQLDatabase.from_uri("sqlite:///northwind.db")
llm = OpenAI(temperature=0, verbose=True)
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [8]:
# import os
# os.environ["OPENAI_API_KEY"] = "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"

In [3]:
db_chain.run("names of employees?")

> Entering new SQLDatabaseChain chain...
names of employees?
SQLQuery:SELECT "LastName", "FirstName" FROM "Employees" LIMIT 5
SQLResult: [('Davolio', 'Nancy'), ('Fuller', 'Andrew'), ('Leverling', 'Janet'), ('Peacock', 'Margaret'), ('Buchanan', 'Steven')]
Answer:Nancy Davolio, Andrew Fuller, Janet Leverling, Margaret Peacock, Steven Buchanan
> Finished chain.

'Nancy Davolio, Andrew Fuller, Janet Leverling, Margaret Peacock, Steven Buchanan'

In [28]:
result = db_chain.run("names of employees?")  # Replace this line with your actual function call

# Process the result to print each name separately
if result:
    for row in result:
        print(f'{row[1]} {row[0]}')  # Assuming index 0 is LastName and index 1 is FirstName
else:
    print("No data returned")

> Entering new SQLDatabaseChain chain...
names of employees?
SQLQuery:SELECT "LastName", "FirstName" FROM "Employees" LIMIT 5
SQLResult: [('Davolio', 'Nancy'), ('Fuller', 'Andrew'), ('Leverling', 'Janet'), ('Peacock', 'Margaret'), ('Buchanan', 'Steven')]
Answer:Nancy Davolio, Andrew Fuller, Janet Leverling, Margaret Peacock, Steven Buchanan
> Finished chain.

IndexError: string index out of range

In [4]:
from langchain.chains import create_sql_query_chain
from langchain.chat_models import ChatOpenAI

#Let's create the chain that will build the SQL Query:

In [5]:
chain = create_sql_query_chain(ChatOpenAI(temperature=0), db)
# response = chain.invoke({"question": "How many employees are there"})
response = chain.invoke({"question": "names of employees?"})

print(response)
db.run(response)

SELECT "FirstName", "LastName" FROM "Employees"

"[('Nancy', 'Davolio'), ('Andrew', 'Fuller'), ('Janet', 'Leverling'), ('Margaret', 'Peacock'), ('Steven', 'Buchanan'), ('Michael', 'Suyama'), ('Robert', 'King'), ('Laura', 'Callahan'), ('Anne', 'Dodsworth')]"

In [7]:
type(db.run(response))

str

In [18]:
from langchain.prompts import PromptTemplate

TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "names of employees?"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}.

Some examples of SQL queries that correspond to questions are:

{few_shot_examples}

Question: {input}"""

CUSTOM_PROMPT = PromptTemplate(
    input_variables=["input", "few_shot_examples", "table_info", "dialect"],
    template=TEMPLATE,
)

In [16]:
!pip install PromptTemplate

ERROR: Could not find a version that satisfies the requirement PromptTemplate (from versions: none)
ERROR: No matching distribution found for PromptTemplate

In [31]:
import streamlit as st

# Suppose this is your response data
response = ['Nancy Davolio', 'Andrew Fuller', 'Janet Leverling', 'Margaret Peacock', 'Steven Buchanan']

# Displaying formatted names in Streamlit
formatted_names = [", ".join(name.split()[::-1]) for name in response]
formatted_string = ", ".join(formatted_names)

# Display the formatted names in Streamlit
print("Formatted Names:")
print(formatted_string)

Formatted Names:
Davolio, Nancy, Fuller, Andrew, Leverling, Janet, Peacock, Margaret, Buchanan, Steven

connect with sql database llama_Index

In [ ]:
db_user = "admin"
db_password = "llama_nl2sql"
db_host = "langchainsql.cl0j8hicdoox.us-east-1.rds.amazonaws.com"
db_name = "classicmodels"

In [ ]:
from sqlalchemy import create_engine, text

# Construct the connection string
connection_string = f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}"

# Create an engine instance
engine = create_engine(connection_string)

# Test the connection using raw SQL
with engine.connect() as connection:
    result = connection.execute(text("select * from customers limit 3"))
    for row in result:
        print(row)

In [ ]:
from llama_index import SQLDatabase
tables = ["customers","orders"]
# sql_database = SQLDatabase(engine, include_tables=tables,sample_rows_in_table_info=5)
sql_database = SQLDatabase(engine, sample_rows_in_table_info=2)
sql_database

In [ ]:
list(sql_database._all_tables)

In [ ]:
print(sql_database.table_info)

In [ ]:
import os
import openai
os.environ["OPENAI_API_KEY"] = "sk-bE"
openai.api_key = os.environ["OPENAI_API_KEY"]

In [ ]:
import tiktoken
from llama_index.callbacks import CallbackManager, TokenCountingHandler
token_counter = TokenCountingHandler(
    tokenizer=tiktoken.encoding_for_model("gpt-3.5-turbo").encode
)

callback_manager = CallbackManager([token_counter])

In [ ]:
from llama_index import ServiceContext, LLMPredictor, OpenAIEmbedding, PromptHelper
from llama_index.llms import OpenAI
from llama_index import ServiceContext
llm = OpenAI(temperature=0.1, model="gpt-3.5-turbo")

service_context = ServiceContext.from_defaults(
  llm=llm,callback_manager=callback_manager
)

In [ ]:
from llama_index.indices.struct_store.sql_query import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database,
    service_context=service_context
)

In [ ]:
# query_str = "Which customer has the highest orders?"
query_str = "when was order number 10100 shiiped?"
# query_str ="What are the most frequently mentioned keywords or phrases in the comments made by sales representatives"
response = query_engine.query(query_str)

In [ ]:
print(response.response)

In [ ]:
print(response.metadata['sql_query'])

In [ ]:
print(response.metadata['result'])

In [ ]:
print(token_counter.total_llm_token_count)